@import url('https://fonts.googleapis.com/css2?family=Playwrite+NZ+Guides&display=swap');

header h1 {
  font-family: sans-serif;
  font-size: 40px;
  padding: 20px;
}

header, footer {
  background-color:  #657efb;
  padding: 20px;
  border: black;
}

body {
   margin: 0px;
}

.footer-colums {
  display: flex;
}

.footer-colums {
  margin: 10px;
}

main {
  padding: 10px;
  background-color: silver;
}

.post {
  background-color: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  display: flex;
}

.post img {
  margin: 20px;
}

#menu {
  position: relative;
  display: block;
  width: 100px;
  height: auto;
  z-index: 10;
}

#menu1 ul {
  position: relative;
  display: block;
  margin: 0px;
  padding: 0px;
  list-style: none;
  width: 100%;
  height: auto;
}

#menu1 > ul::after {
  display: block;
  width: 100%;
  height: 0px;
  clear: both;
  content: " ";
}

#menu1 ul li {
  position: relative;
  display: block;
  float: left;
  width: auto;
  height: auto;
}

#menu1 ul li a {
  display: block;
  padding: 5px 25px 0px 25px;
  font-size: 14px;
  line-height: 1.3em;
  text-decoration: none;
  font: bold;
  text-transform: uppercase;
  height: 36px;
  box-sizing: border-box;
  color: white;
}

#menu1 ul li ul {
  position: absolute;
  top: 36px;
  left: 0px;
  display: none;
  width: 200px;
  background-color: #9cacfc;
}

#menu1 ul li:hover ul {
  display: block;
}

#menu1 ul li ul li {
  float: none;
  width: 100%;
}

#menu1 ul li ul li a {
  display: block;
  text-transform: none;
  height: auto;
  padding: 7px 25px ;
  width: 100%;
  box-sizing: border-box;
  border-top: 1px solid white;
  color: white;
}

#menu1 ul li ul li:first-child a {
   border-top: 0px;
}

#menu1 ul li:hover {
  background-color: #cdd5fe;
}

#menu1 ul li a img {
  height: 25px;
}

#menu1{
  font-family: sans-serif;
  border: black;
}

.post-info {
  color: gray;
}

.coment {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  margin-top: 10px;
  font-family: 'Playwrite NZ Guides';
}

.author {
  margin-top: 0px;
  margin-bottom: 10px;
}

.date {
  color:gray;
  margin-top: 0px;
  margin-bottom: 10px;
}

#sub-coment {
  margin-left: 30px;
}

.coment img {
  height: 40px;
}

https://www.youtube.com/watch?v=4Q46xYqUwZQ&pp=ygURbGVnZW5kcyBuZXZlciBkaWXSBwkJAwoBhyohjO8%3D